services:
    -
        class: SspStaff\ADT\PHPStan\Rules\ADTCaseClassRule
        tags:
            - phpstan.rules.rule
    -
        class: SspStaff\ADT\PHPStan\Rules\ExhaustivePatternMatchRule
        tags:
            - phpstan.rules.rule
    -
        class: SspStaff\ADT\PHPStan\Rules\ADTHelper
